/* .App {
  border-style: dotted;
} */

.container {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

.form {
  width: 100%;
  margin-left: -150px;
  display: grid;
}

.cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.nav {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  box-shadow:5px 8px black ;
  margin: 0px 10px 30px 10px;
}

.link {
  display: flex;
  margin-right: 15px;
  color: black;
}

.cards-container {
  padding-left: 10px;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}